.album-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  background-image: url('./Green Floral Wedding Invitation.jpg');
  background-position: top;
  background-size: cover;
}

.album-container h2, .album-container p {
  font-family: "Great Vibes", cursive;
  color: #505f41;
  margin: 10px 0;
}

.album-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.album-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
}

.album-image img:hover {
  transform: scale(1.05);
}